.App{
  text-align: center;
  display: flex;
  height:100vh;
  background-color: rgba(218, 218, 218, 0.589);
}

.calculator{
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.082);
  width: 95%;
  max-width: 400px;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
}

.screen{
  background-color: aliceblue;
  padding: 2em;
}

.operators{
  display: flex;
}

.operators button{
  width: 20%;
  padding: 1em;
  border: none;
  background-color: black;
  color: white;
}

.operators button:hover{
  background-color: red;
  color: black;
  cursor: pointer;
}

.digits button{
  width: 33.33%;
  padding: 2em;
  border: none;
  font-size: medium;
}

.digits button:hover{
  background-color: rgb(255, 215, 215);
  cursor: pointer;
}